Repository Mitriyweb/ChaseAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, markdownlint, clippy, rust-test

rustfmt:
  name: rustfmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npm run lint:md
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: npm run lint:rust
  language: system
  pass_filenames: false

rust-test:
  name: rust-test
  entry: npm run test:rust
  language: system
  pass_filenames: false

feat: implement Instruction Service and archive OpenSpec
  Cargo.lock
  Cargo.toml
  IMPLEMENTATION_ORDER.md
  openspec/changes/archive/2026-01-23-instruction-service/design.md
  openspec/changes/archive/2026-01-23-instruction-service/proposal.md
  openspec/changes/archive/2026-01-23-instruction-service/specs/context-model/spec.md
  openspec/changes/archive/2026-01-23-instruction-service/specs/context-serving/spec.md
  openspec/changes/archive/2026-01-23-instruction-service/specs/server-lifecycle/spec.md
  openspec/changes/archive/2026-01-23-instruction-service/tasks.md
  openspec/changes/instruction-service/tasks.md
  openspec/specs/app/spec.md
  openspec/specs/context-model/spec.md
  openspec/specs/context-serving/spec.md
  openspec/specs/server-lifecycle/spec.md
  src/rs/app.rs
  src/rs/instruction/context.rs
  src/rs/instruction/manager.rs
  src/rs/instruction/mod.rs
  src/rs/instruction/storage.rs
  src/rs/server/instruction_server.rs
  src/rs/server/mod.rs
  src/rs/server/pool.rs
  src/test/rs/instruction_integration.rs
Due: rustfmt, markdownlint, clippy, rust-test

feat: Implement macOS system tray UI with port management
  .github/workflows/main.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  IMPLEMENTATION_ORDER.md
  Info.plist
  README.md
  build-macos-app.sh
  openspec/changes/archive/2026-01-24-tray-ui/design.md
  openspec/changes/archive/2026-01-24-tray-ui/proposal.md
  openspec/changes/archive/2026-01-24-tray-ui/specs/interaction-flow/spec.md
  openspec/changes/archive/2026-01-24-tray-ui/specs/menu-structure/spec.md
  openspec/changes/archive/2026-01-24-tray-ui/tasks.md
  openspec/changes/tray-ui/tasks.md
  openspec/specs/interaction-flow/spec.md
  openspec/specs/menu-structure/spec.md
  package.json
  resources/create-menubar-icon.sh
  resources/icon.png
  resources/icon_menubar.png
  run-app.sh
  src/rs/app.rs
  src/rs/config/mod.rs
  src/rs/config/network_config.rs
  src/rs/config/watcher.rs
  src/rs/main.rs
  src/rs/ui/dialogs.rs
  src/rs/ui/mod.rs
  src/rs/ui/tray.rs
  src/rs/ui/tray_menu.rs
Due: rustfmt, markdownlint, clippy, rust-test

fix: Make macOS dependencies conditional and update CI to macOS runner
  .github/workflows/main.yml
  Cargo.toml
Due: none

chore: Migrate from Node.js to Bun runtime
  .agent/workflows/review-and-commit.md
  .bunversion
  .github/workflows/main.yml
  .nvmrc
  .pre-commit-config.yaml
  README.md
  bun.lock
  openspec/project.md
  package-lock.json
  package.json
Due: markdownlint

fix: Allow unexpected_cfgs warnings from objc crate macros
  .github/workflows/main.yml
  package.json
  src/rs/main.rs
Due: rustfmt, clippy, rust-test

feat: add macOS distribution via DMG and Homebrew
  .github/workflows/macos-release.yml
  .github/workflows/main.yml
  .markdownlint-cli2.jsonc
  .version
  CHANGELOG.md
  Cargo.toml
  MACOS_DISTRIBUTION_IMPLEMENTATION.md
  docs/installation-macos.md
  docs/macos-release-checklist.md
  homebrew-chaseai/Formula/chaseai.rb
  homebrew-chaseai/README.md
  openspec/changes/archive/2026-01-25-macos-distribution/design.md
  openspec/changes/archive/2026-01-25-macos-distribution/proposal.md
  openspec/changes/archive/2026-01-25-macos-distribution/specs/macos-distribution/spec.md
  openspec/changes/archive/2026-01-25-macos-distribution/tasks.md
  openspec/specs/macos-distribution/spec.md
  package.json
  scripts/bump-version.sh
  scripts/macos/build-macos-app.sh
  scripts/macos/build-universal.sh
  scripts/macos/create-dmg.sh
  scripts/macos/generate-homebrew-formula.sh
  scripts/macos/notarize-app.sh
  scripts/macos/run-app.sh
  scripts/macos/sign-app.sh
  scripts/macos/update-homebrew-formula.sh
Due: markdownlint

docs: update specs and remove implementation summary
  .agent/rules/rust-coding-standards.md
  .github/workflows/macos-release.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  MACOS_DISTRIBUTION_IMPLEMENTATION.md
  README.md
  bun.lock
  openspec/specs/app/spec.md
  openspec/specs/macos-distribution/spec.md
  package.json
  resources/icon_menubar.png
  resources/icon_menubar_64.png
  rust-toolchain.toml
  scripts/bump-version.sh
  scripts/macos/create-dmg.sh
  src/rs/main.rs
  src/rs/platform/linux.rs
  src/rs/platform/macos.rs
  src/rs/platform/mod.rs
  src/rs/platform/windows.rs
  src/rs/ui/tray.rs
  src/rs/ui/tray_menu.rs
Due: rustfmt, markdownlint, clippy, rust-test

fix: restore platform abstraction, macOS distribution, and dependencies
  src/test/rs/app.rs
  src/test/rs/instruction_integration.rs
  src/test/rs/network_integration.rs
Due: rustfmt, clippy, rust-test

chore: disable macos-release workflow pending certificate setup
  .github/workflows/macos-release.yml
Due: none

feat: implement download config button and ai integration
  Cargo.lock
  Cargo.toml
  README.md
  docs/ai-integration.md
  docs/verification-workflow.md
  openspec/changes/archive/2026-01-30-2026-01-28-download-config/design.md
  openspec/changes/archive/2026-01-30-2026-01-28-download-config/proposal.md
  openspec/changes/archive/2026-01-30-2026-01-28-download-config/tasks.md
  openspec/specs/ai-integration/spec.md
  openspec/specs/download-config/spec.md
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/config/mod.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/tray_menu.rs
Due: rustfmt, markdownlint, clippy, rust-test

fix: resolve markdown linting errors in documentation
  docs/ai-integration.md
  docs/verification-workflow.md
Due: markdownlint

fix: resolve CI failures by adding Linux fallbacks and fixing type inference
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/dialogs.rs
  src/rs/ui/tray.rs
  src/rs/ui/tray_menu.rs
  src/test/rs/config.rs
  src/test/rs/ui.rs
Due: rustfmt, clippy, rust-test

fix: resolve CI failures by adding Linux fallbacks, fixing type inference, and correcting formatting
  src/rs/ui/tray.rs
Due: rustfmt, clippy, rust-test

feat: add rust testing standards and test organization enforcement
  .agent/rules/rust-coding-standards.md
  .agent/rules/rust-testing-standards.md
  .agent/rules/verification-protocol.md
  package.json
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/instruction/manager.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/dialogs.rs
  verification-protocol.md
Due: rustfmt, markdownlint, clippy, rust-test

fix: resolve CI failures by fixing formatting and isolating test environment
  .github/workflows/main.yml
  bun.lock
  package.json
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/instruction/manager.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/dialogs.rs
Due: rustfmt, clippy, rust-test

feat: add CLI verification support and mode toggle
  Cargo.lock
  Cargo.toml
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/config/network_config.rs
  src/rs/main.rs
  src/rs/ui/tray_menu.rs
  src/test/rs/config.rs
  src/test/rs/config_filtering.rs
  verification-protocol.md
Due: rustfmt, markdownlint, clippy, rust-test

style: fix formatting in main.rs to satisfy CI
  src/rs/main.rs
  verification-protocol.md
Due: rustfmt, markdownlint, clippy, rust-test

fix: resolve CI failure and align with coding standards
  bun.lock
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/config/network_config.rs
  src/rs/instruction/context.rs
  src/rs/instruction/manager.rs
  src/rs/platform/macos.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/dialogs.rs
  src/rs/ui/tray.rs
  src/test/rs/app.rs
Due: rustfmt, clippy, rust-test

fix: rebase on main and resolve conflicts in generator, server and dialogs
  .agent/rules/rust-coding-standards.md
  .agent/rules/rust-testing-standards.md
  .agent/rules/verification-protocol.md
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  bun.lock
  package.json
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/config/network_config.rs
  src/rs/instruction/manager.rs
  src/rs/main.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/dialogs.rs
  src/rs/ui/tray_menu.rs
  src/test/rs/config.rs
  src/test/rs/config_filtering.rs
  verification-protocol.md
Due: rustfmt, markdownlint, clippy, rust-test

chore: rename binary to chase for CLI consistency
  .github/workflows/macos-release.yml
  Cargo.toml
  README.md
  docs/installation-macos.md
  homebrew-chaseai/Formula/chaseai.rb
  scripts/macos/build-macos-app.sh
  scripts/macos/build-universal.sh
  scripts/macos/create-dmg.sh
  scripts/macos/generate-homebrew-formula.sh
  scripts/macos/notarize-app.sh
  scripts/macos/sign-app.sh
  scripts/macos/update-homebrew-formula.sh
  verification-protocol.md
Due: markdownlint

[fix] Cleanup config generation and finalize verification mode
  .agent/rules/verification-protocol.md
  src/rs/app.rs
  src/rs/config/generator.rs
  verification-protocol.md
Due: rustfmt, markdownlint, clippy, rust-test

chore: unify binary name to chase and finalize CLI support
  .agent/rules/verification-protocol.md
  scripts/macos/notarize-app.sh
  scripts/macos/sign-app.sh
  src/rs/app.rs
  src/rs/config/generator.rs
  verification-protocol.md
Due: rustfmt, markdownlint, clippy, rust-test

fix: resolve lints, update tests for env-aware config, and ensure tray-only mode
  .agent/rules/verification-protocol.md
  .version
  Cargo.lock
  Cargo.toml
  README.md
  package.json
  scripts/install.sh
  scripts/macos/build-macos-app.sh
  scripts/publish-release.sh
  src/rs/app.rs
  src/rs/config/generator.rs
  src/rs/config/network_config.rs
  src/rs/server/instruction_server.rs
  src/rs/ui/tray_menu.rs
  src/test/rs/config.rs
  src/test/rs/version_check.rs
Due: rustfmt, markdownlint, clippy, rust-test

fix: ensure macOS activation policy is set after EventLoop init
  src/rs/platform/macos.rs
Due: rustfmt, clippy, rust-test

Update integration tests and improve error handling
  src/rs/app.rs
  src/rs/instruction/manager.rs
  src/rs/network/interface_detector.rs
  src/rs/server/instruction_server.rs
  src/test/rs/app.rs
  src/test/rs/config.rs
  src/test/rs/instruction.rs
  src/test/rs/network.rs
  src/test/rs/server.rs
Due: rustfmt, clippy, rust-test

Fix CI failures: update integration tests and error handling
  src/rs/platform/macos.rs
  src/test/rs/app.rs
Due: rustfmt, clippy, rust-test

feat: add installation script and make signing optional
  .github/workflows/macos-release.yml
  INSTALL.md
  scripts/install.sh
Due: markdownlint

feat: enable automatic macOS release builds on version tags
  .github/workflows/macos-release.yml
Due: none

fix: resolve markdown linting errors in INSTALL.md
  INSTALL.md
Due: markdownlint

Rebase: update tests and improve error handling
  .github/workflows/macos-release.yml
  INSTALL.md
  scripts/install.sh
Due: markdownlint

Rebase: update tests and improve error handling
  INSTALL.md
Due: markdownlint

fix: correct build-macos-app.sh path in workflow
  .github/workflows/macos-release.yml
Due: none

fix: improve download config error handling
  .github/workflows/macos-release.yml
  src/rs/app.rs
  src/rs/ui/dialogs.rs
  src/rs/ui/tray_menu.rs
Due: rustfmt, clippy, rust-test

test: add comprehensive tests for download config functionality
  src/rs/ui/dialogs.rs
  src/test/rs/ui.rs
Due: rustfmt, clippy, rust-test

fix: format test file and ensure pre-commit compliance
  src/test/rs/ui.rs
Due: rustfmt, clippy, rust-test

docs: clarify production vs beta vs dev features
  README.md
  ROADMAP.MD
Due: markdownlint

docs: enforce pre-commit hooks and add contributing guidelines
  .githooks/commit-msg
  CONTRIBUTING.md
  README.md
  scripts/prevent-no-verify.sh
Due: markdownlint

fix: correct markdown formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdownlint

Rebase: update tests and improve error handling (v3)
  .githooks/commit-msg
  .github/workflows/macos-release.yml
  CONTRIBUTING.md
  README.md
  ROADMAP.MD
  scripts/prevent-no-verify.sh
  src/rs/app.rs
  src/rs/ui/dialogs.rs
  src/rs/ui/tray_menu.rs
  src/test/rs/ui.rs
Due: rustfmt, markdownlint, clippy, rust-test

Path conditions:
  rustfmt: any of: \.rs$
  markdownlint: any of: \.md$
  clippy: any of: \.rs$
  rust-test: any of: \.rs$
